doctype html
html(lang="en")
	head
		title #{name.family}, #{name.given} &mdash; Resume
		link(rel='stylesheet', href='/styles/main.css')
	body
		#page-wrap
			block header
			section#main
				for section, i in sections
					if i < sections.length - 1
						hr
					- var id = section.name.toLowerCase().replace(/\s/g, '-')
					div(id=id)
						case section.display
							when "text"
								= section.content
							when "table"
								+dispTable(section)
							when "timeline"
								+dispTimeline(section)